


/* ============TASK17============*/

.container {
  display: grid;
  grid-template-columns: repeat(6, 150px);
  grid-template-rows: repeat(4, 150px);
  background: no-repeat url(https://codeberry-curriculum-assets.s3.eu-central-1.amazonaws.com/advanced-css-course/1.+a-css-c-3-4-grid.png);
  grid-gap: 10px;
}

.item {
  border: 1px solid #444444;
  border-radius: 5px;
  font-size: 30px;
  text-align: center;
  color: #ffffff;
}

.item-1 {
  place-self: start start;
  background-color: orange;
}

.item-2 {
  place-self:center stretch;
  background-color: red;
}

.item-3 {
place-self:start end;
  background-color: green;
}

.item-4 {
place-self:center end;
  background-color: blue;
}






/* ============TASK16============

.container {
  display: grid;
  grid-template-columns: repeat(6, 150px);
  grid-template-rows: repeat(4, 150px);
  background: no-repeat url(https://codeberry-curriculum-assets.s3.eu-central-1.amazonaws.com/advanced-css-course/1.+a-css-c-3-4-grid.png);
  grid-gap: 10px;
}

.item {
  border: 1px solid #444444;
  border-radius: 5px;
  font-size: 30px;
  text-align: center;
  color: #ffffff;
}

.item-1 {
  align-self:start;
  background-color: orange;
}

.item-2 {
  align-self:center;
  background-color: red;
}

.item-3 {
align-self:stretch;
  background-color: green;
}

.item-4 {
 align-self:end;
  background-color: blue;
}





/* ============TASK15============


.container {
  display: grid;
  grid-template-columns: repeat(6, 150px);
  grid-template-rows: repeat(4, 150px);
  background: no-repeat url(https://codeberry-curriculum-assets.s3.eu-central-1.amazonaws.com/advanced-css-course/1.+a-css-c-3-4-grid.png);
  grid-gap: 10px;
}

.item {
  border: 1px solid #444444;
  border-radius: 5px;
  font-size: 30px;
  text-align: center;
  color: #ffffff;
}

.item-1 {
  justify-self:start;
  background-color: orange;
}

.item-2 {
  justify-self:center;
  background-color: red;
}

.item-3 {
justify-self:stretch;
  background-color: green;
}

.item-4 {
 justify-self:end;
  background-color: blue;
}



/* ============TASK14============

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, minmax(100px, auto));
  grid-gap: 10px;
  background-color: #3e2723;
  padding: 10px;
  border-radius: 10px;
  
  grid-template-areas: 
"header header header header"
"main main . sidebar"
"main main . sidebar"
    "footer footer footer footer";}
.header  {
  grid-area: header;
}
.main {
  grid-area: main;
}
.sidebar {
  grid-area: sidebar;
}
.footer {
  grid-area: footer;
}






.item {
  padding: 10px;
  border: 1px solid #444444;
  border-radius: 5px;
  background-color: gray;
  font-size: 30px;
  text-align: center;
  color: #ffffff;
}

.header {
  grid-area: header;
  padding: 20px;
  background-color: #ffffff;
  font-size: 40px;
  color: #000000;
}

.main {
  grid-area: main;
}

.sidebar {
  grid-area: sidebar;
}

.footer {
  grid-area: footer;
  padding: 20px;
  background-color: #000000;
  font-size: 40px;
}



/* ============TASK13============
.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, minmax(100px, auto));
  grid-gap: 10px;
  background-color: #3e2723;
  padding: 10px;
  border-radius: 10px;
}

.item {
  padding: 10px;
  border: 1px solid #444444;
  border-radius: 5px;
  background-color: gray;
  font-size: 30px;
  text-align: center;
  color: #ffffff;
  
  
}

.header {
  grid-column: span 12;
  padding: 20px;
  background-color: #ffffff;
  font-size: 40px;
  color: #000000;
}

.main{
  grid-column: 2/span 6;
    grid-row: 2/span 10;
}
.sidebar{
   grid-column:span 4;
    grid-row: 2/span 8;
}



.footer {
  grid-column: span 12;
  padding: 20px;
  background-color: #000000;
  font-size: 40px;
}

/* ============TASK11============

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 10px;
  background-color: #3e2723;
  padding: 10px;
  border-radius: 10px;
 
  
}

.item {
  padding: 10px;
  border: 1px solid #444444;
  border-radius: 5px;
  background-color: gray;
  font-size: 30px;
  text-align: center;
  color: #ffffff;
  
}

.item-header{
  padding: 20px;
background-color: #ffffff;
font-size: 40px;
color: #000000;
grid-column: span 12;
text-align: center;

}

.item-1-12 {
  grid-column: span 1;
}

.item-2-12 {
  grid-column: span 2;
}

.item-3-12 {
  grid-column: span 3;
}

.item-4-12 {
  grid-column: span 4;
}

.item-5-12 {
  grid-column: span 5;
}

.item-6-12 {
  grid-column: span 6;
}

.item-7-12 {
  grid-column: span 7;
}

.item-8-12 {
  grid-column: span 8;
}

.item-9-12 {
  grid-column: span 9;
}

.item-10-12 {
  grid-column: span 10;
}

.item-11-12 {
  grid-column: span 11;
}

.item-12-12 {
  grid-column: span 12;
}






/* ============TASK9============


.container {
  display: grid;
  grid-template-columns: repeat(2, 150px);
  grid-template-rows: 100px 100px 100px;  
  grid-gap: 10px;
  background-color: #3e2723;
  padding: 10px;
  border-radius: 10px;
  grid-auto-flow: column;
}

.item {
  border: 1px solid #444444;
  border-radius: 5px;
  font-size: 30px;
  text-align: center;
  color: #ffffff;
}

.item-1 {
  background-color: orange;
}

.item-2 {
  background-color: red;
}

.item-3 {
  background-color: green;
}

.item-4 {
  background-color: blue;
}

.item-5 {
  background-color: brown;
}

.item-6 {
  background-color: gray;
}



/* ============TASK7,8,============

.container {
  display: grid;
  grid-template-columns: repeat(3, 150px);
  grid-template-rows: repeat(4, 150px);
  align-content: space-around;
  grid-gap: 10px;
  background-color: #3e2723;
  border-radius: 10px;
}

.item {
  border: 1px solid #444444;
  border-radius: 5px;
  font-size: 30px;
  text-align: center;
  color: #ffffff;
}

.item-1 {
  background-color: orange;
}

.item-2 {
  background-color: red;
}

.item-3 {
  background-color: green;
}

.item-4 {
  background-color: blue;
}

.item-5 {
  background-color: brown;
}

.item-6 {
  background-color: gray;
}




/* ============TASK6============


.container {
  display: grid;
  grid-template-columns: repeat(6, 150px);
  grid-template-rows: repeat(4, 150px);
 align-items: center;
  background: no-repeat url(https://codeberry-curriculum-assets.s3.eu-central-1.amazonaws.com/advanced-css-course/1.+a-css-c-3-4-grid.png);
  grid-gap: 10px;
}

.item {
  border: 1px solid #444444;
  border-radius: 5px;
  font-size: 30px;
  text-align: center;
  color: #ffffff;
}

.item-1 {
  background-color: orange;
}

.item-2 {
  background-color: red;
}

.item-3 {
  background-color: green;
}

.item-4 {
  background-color: blue;
}




/* ============TASK4============

.container {
  display: grid;
  grid-template-columns: repeat(3, 150px);
  grid-template-rows: repeat(5, 75px);
  gap: 25px 15px;
  background-color: #3e2723;
  padding: 10px;
  border-radius: 10px;
}

.item {
  border: 1px solid #ffffff;
  border-radius: 5px;
  font-size: 30px;
  text-align: center;
  color: #ffffff;
}

.item-1 {
  background-color: orange;
}

.item-2 {
  background-color: red;
}

.item-3 {
  background-color: green;
}

.item-4 {
  background-color: blue;
}

.item-5 {
  border-color: black;
  background-color: cyan;
  color: black;
}

.item-6 {
  border-color: black;
  background-color: white;
  color: black;
}

.item-7 {
  border-color: black;
  background-color: yellow;
  color: black;
}

.item-8 {
  background-color: gray;
}





/* ============TASK3============
.container {
  display: grid;
  grid-template-columns:repeat(12,100px) ;
  grid-template-rows:repeat(8,100px) ;
  grid-gap: 10px;
  background-color: #3e2723;
  padding: 10px;
  border-radius: 10px;
}

.item {
  border: 1px solid #ffffff;
  border-radius: 5px;
  font-size: 30px;
  text-align: center;
  color: #ffffff;
}

.item-1 {
  background-color: orange;
}

.item-2 {
  background-color: red;
}

.item-3 {
  background-color: green;
}

.item-4 {
  background-color: blue;
}

.item-5 {
  border-color: black;
  background-color: cyan;
  color: black;
}

.item-6 {
  border-color: black;
  background-color: white;
  color: black;
}

.item-7 {
  border-color: black;
  background-color: yellow;
  color: black;
}

.item-8 {
  background-color: gray;
}






/* ============TASK2============
.container {
    display: grid;
    grid-template-columns:1fr 2fr 3fr ;
    grid-template-rows:100px 50px;
    grid-gap: 10px;
    background-color: #3e2723;
    padding: 10px;
    border-radius: 10px;
  }
  
  .item {
    border: 1px solid #ffffff;
    border-radius: 5px;
    font-size: 30px;
    text-align: center;
    color: #ffffff;
  }
  
  .item-1 {
    background-color: orange;
  }
  
  .item-2 {
    background-color: red;
  }
  
  .item-3 {
    background-color: green;
  }
  
  .item-4 {
    background-color: blue;
  }
  
  /*

  ============TASK2============
.container {
 
  grid-template-columns: 200px 200px 200px;
  grid-template-rows: 50px 50px 50px;
  grid-gap: 10px;
  background-color: #3e2723;
  padding: 10px;
  border-radius: 10px;
  display:grid;
}

.item {
  border: 1px solid #ffffff;
  border-radius: 5px;
  font-size: 30px;
  text-align: center;
  color: #ffffff;
}

.item-1 {
  background-color: orange;
}

.item-2 {
  background-color: red;
}

.item-3 {
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: green;
}

.item-4 {
  grid-column-start: 3;
  grid-row-start: 1;
  grid-row-end: 4;
  background-color: blue;
}