

/*Task14.5*/


.wrapper {
  margin: auto;
  width: 90vw;
  height: 100vh;
  background-color: #ccc;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.box {
  background-color: white;
  width: 600px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.second-header{
font-size: (24px,3vw);

}


/*Task14.4

.wrapper {
  margin: auto;
  width: 90vw;
  height: 100vh;
  background-color: #ccc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box {
  width: min(600px, 75vw);
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  background:palevioletred;
  
}



/*Task14.3

.container {
  height: calc(100vh - 10px);
  width: calc(100vw - 10px);
  background-color: gray;
  position: absolute;
  
  
}

.floater {
  height: 50px;
  width: 50px;
  background-color: gold;
  position: absolute;
  top: calc(100% - 70px);
  left:calc(100% - 70px);




/*Task14.1
:root{
  --primary-color:rgba(229, 57, 53, 0.3);
  --secondary-color: rgba(158, 158, 158, 0.35);
  --font-color:rgba(33, 33, 33, 1);
}

.wrapper {
  height: 100vh;
  width: 80vw;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr 5fr 1fr;
  gap: 5px;
}

.header {
  grid-column: 2 / -1;
  grid-row: 1 / span 1;
  color: rgba(33, 33, 33, 1);
  background-color: var(--primary-color);
  text-align: center;
}

.sidebar {
  grid-column: 1;
  grid-row: 2 / span 1;
  background-color: var(--secondary-color);
}

.content {
  grid-column: 2 / -1;
  grid-row: 2 / span 1;
  background-color: var(--secondary-color);
}

.footer {
  grid-column: 1 / -1;
  grid-row: 3 / span 1;
  color: var(--font-color);
  background-color: var(--primary-color);
  text-align: center;
}

.content h2 {
  text-align: center;
}

.form-field {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  margin: 25px;
  color: var(--font-color);
}

.content p {
  margin: 25px;
  color: var(--font-color);
}



/*Task13.10

div {
  position: absolute;
    width: 40px;
    height: 40px;
    background-color: red;
    border-radius: 50%;
    animation:bounce 1s ease-in .1s 5 alternate both ;
  }
  @keyframes bounce{
      0% {left:10%;bottom:70%;}
      100% {left:10%;bottom:0%;}
  }


/*Task13.1

div {
    display: inline-block;
    width: 75px;
    height: 150px;
    border-radius: 50% 50% 0% 0%;
    background-color: red;
    animation: heartbeat .7s ease-out 0.5s infinite reverse backwards;
    animation: name duration timing-function delay iteration-count direction fill-mode;
    
  }
  
  #left {
    position: relative;
    left: 20px;
    transform: rotate(-45deg);
  }
  
  #right {
    position: relative;
    left: -5px;
    transform: rotate(45deg);
  }
  @keyframes heartbeat{
    0%   {width: 80px;height: 163px;}
    75%  {width: 75px;height: 150px;}
    100%  {width: 80px;height: 163px;}

  }

/*Task12.2

* {
    margin: 0;
    padding: 0;
    border: 0;
  }
  
  input, label {
    font-family: "Lucida Console", Courier, monospace;
    font-size: 16px;
  }
  
  input {
    width: 200px;
    height: 30px;
    margin: 25px;
    border-bottom: 1px solid grey;
  }
  
  label {
    display: inline-block;
    position: relative;
    left: -230px;
    cursor: text;
    transition:.5s ;
    transform-origin: 0% 100%;
  }

  
  
  
  input:focus{
    outline: 0;
  }

  input:focus~label{
    
    transform:matrix(0.8, 0, 0, 0.8, 0, -25)

  }
  input:valid~label {
   
  
    transform:matrix(0.8, 0, 0, 0.8, 0, -25)
  }



/*Task12.1
div {
    display: inline-block;
    margin: 20px 5px 20px 5px;
    padding: 5px;
    width: 135px;
    height: 400px;
    vertical-align: top;
    text-align: center;
    font-family: "Lucida Console", Courier, monospace;
    cursor: default;
    background-color: khaki;
    transition: all 0.5s ease-out .1s ;
    
  }
  div:hover{
    box-shadow:3px 6px 3px 0 grey ;
    transform: scale(1.1)
  }
  
  img {
    height: 200px;
  }
  
  h1, p {
    font-size: 12px;
  }
  
  h1 {
    font-weight: bold;}
  */