

/*Task13.1*/

div {
    display: inline-block;
    width: 75px;
    height: 150px;
    border-radius: 50% 50% 0% 0%;
    background-color: red;
    animation: heartbeat .7s ease infinite;
  }
  
  #left {
    position: relative;
    left: 20px;
    transform: rotate(-45deg);
  }
  
  #right {
    position: relative;
    left: -5px;
    transform: rotate(45deg);
  }
  @keyframes heartbeat{
    0%   {width: 80px;height: 163px;}
    75%  {width: 75px;height: 150px;}
    100%  {width: 80px;height: 163px;}

  }

/*Task12.2

* {
    margin: 0;
    padding: 0;
    border: 0;
  }
  
  input, label {
    font-family: "Lucida Console", Courier, monospace;
    font-size: 16px;
  }
  
  input {
    width: 200px;
    height: 30px;
    margin: 25px;
    border-bottom: 1px solid grey;
  }
  
  label {
    display: inline-block;
    position: relative;
    left: -230px;
    cursor: text;
    transition:.5s ;
    transform-origin: 0% 100%;
  }

  
  
  
  input:focus{
    outline: 0;
  }

  input:focus~label{
    
    transform:matrix(0.8, 0, 0, 0.8, 0, -25)

  }
  input:valid~label {
   
  
    transform:matrix(0.8, 0, 0, 0.8, 0, -25)
  }



/*Task12.1
div {
    display: inline-block;
    margin: 20px 5px 20px 5px;
    padding: 5px;
    width: 135px;
    height: 400px;
    vertical-align: top;
    text-align: center;
    font-family: "Lucida Console", Courier, monospace;
    cursor: default;
    background-color: khaki;
    transition: all 0.5s ease-out .1s ;
    
  }
  div:hover{
    box-shadow:3px 6px 3px 0 grey ;
    transform: scale(1.1)
  }
  
  img {
    height: 200px;
  }
  
  h1, p {
    font-size: 12px;
  }
  
  h1 {
    font-weight: bold;
  }